/*Elementos carpeta base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bc3eff;
}

/*Elementos carpeta layout*/
/*Index*/
.conteiner-menu-desplegable {
  background-color: black;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none;
  gap: none;
  width: 100%;
  height: 80px;
  margin-top: 3.125rem;
  list-style: none;
}
.conteiner-menu-desplegable div nav button {
  background-color: rgb(232, 100, 77);
  transition: all 2s;
  border-radius: 10px;
  width: 160px;
  padding: 5px 5px;
  margin-top: 20px;
}
.conteiner-menu-desplegable div nav button:hover {
  background-color: #a045f6;
  width: 200px;
}
.conteiner-menu-desplegable div nav button a {
  color: white;
  font-size: 20px;
}
.conteiner-menu-desplegable div nav button a:hover {
  color: #000000;
}

.conteiner-img-central {
  width: 100%;
  height: 500px;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.conteiner-img-central div img {
  width: 100%;
  height: 500px;
}

.kenburns-left {
  animation: kenburns-left 5s ease-out both;
}
@keyframes kenburns-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%;
  }
  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left;
  }
}
.Ultimos-ingresos h2 {
  text-decoration: underline;
  margin-left: 3.125rem;
  margin-bottom: 0.9375rem;
  font-size: 30px;
  color: white;
}

.tracking-in-expand-fwd {
  animation: tracking-in-expand-fwd 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 4 both;
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.conteiner-card {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: none;
  gap: none;
  margin-top: 0.3125rem;
  margin-bottom: 2.1875rem;
}
.conteiner-card article {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem rgb(179, 175, 175);
  overflow: hidden;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}
.conteiner-card article img {
  width: 100%;
}

.Suscripcion {
  width: 100%;
  background-color: #4E217F;
}
.Suscripcion div h2 {
  font-size: 1.5625rem;
  color: white;
  margin-right: 1.5625rem;
  text-align: end;
  padding: 0.3125rem 0.625rem;
}

.footer {
  display: grid;
  background-color: black;
  width: 100%;
  height: 200px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 3.125rem;
}
.footer .section-1 {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  gap: none;
}
.footer .section-1 h3 {
  padding: 20px 20px;
  margin-left: 40px;
  font-size: 25px;
}
.footer .section-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.footer .section-2 div a img {
  max-width: 70%;
  border-radius: 30px;
  padding: 10px;
}

/*Atencion al cliente*/
.conteiner-menu-desplegable {
  background-color: black;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none;
  gap: none;
  width: 100%;
  height: 80px;
  margin-top: 3.125rem;
  list-style: none;
}
.conteiner-menu-desplegable div li button {
  background-color: rgb(25, 205, 241);
  border-radius: 10px;
  width: 160px;
  padding: 5px 5px;
  margin-top: 20px;
}
.conteiner-menu-desplegable div li button a {
  color: white;
  font-size: 20px;
}
.conteiner-menu-desplegable div li button a:hover {
  color: black;
}

.conteiner-ayuda {
  background-color: #FFDEB9;
  margin-top: 25px;
}
.conteiner-ayuda h2 {
  color: black;
  text-decoration: underline;
  text-align: center;
  padding: 10px 10px;
}
.conteiner-ayuda div {
  font-size: 20px;
}
.conteiner-ayuda div h3 {
  font-size: 25px;
  text-decoration: underline;
  color: black;
}

/*Catalogo*/
.catalogo {
  display: grid;
  margin-top: 100px;
  max-width: 100%;
  height: 1000px;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "area1 area7" "area2 area7" "area3 area7" "area4 area8" "area5 area8" "area6 area8";
  row-gap: 0.3125rem;
}
.catalogo .catalogo_1, .catalogo .catalogo_3, .catalogo .catalogo_5 {
  background-color: #FC2947;
  grid-area: area1;
  display: flex;
  width: 100%;
  height: 100%;
}
.catalogo .catalogo_1 img, .catalogo .catalogo_3 img, .catalogo .catalogo_5 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 10.375rem;
}
.catalogo .catalogo_1 div, .catalogo .catalogo_3 div, .catalogo .catalogo_5 div {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  gap: none;
  margin-left: 150px;
}
.catalogo .catalogo_1 div button, .catalogo .catalogo_3 div button, .catalogo .catalogo_5 div button {
  width: 150px;
  padding: 5px 5px;
  margin-top: 10px;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
  box-shadow: 0 0 0 0 white;
}
.catalogo .catalogo_1 div button:hover, .catalogo .catalogo_3 div button:hover, .catalogo .catalogo_5 div button:hover {
  transform: translate(-2px -4px);
  box-shadow: 2px 5px 0 0 white;
}
.catalogo .catalogo_2, .catalogo .catalogo_4, .catalogo .catalogo_6 {
  background-color: #FE6244;
  grid-area: area2;
  display: flex;
  width: 100%;
  height: 100%;
}
.catalogo .catalogo_2 img, .catalogo .catalogo_4 img, .catalogo .catalogo_6 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 10.375rem;
}
.catalogo .catalogo_2 div, .catalogo .catalogo_4 div, .catalogo .catalogo_6 div {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  gap: none;
  margin-left: 150px;
}
.catalogo .catalogo_2 div button, .catalogo .catalogo_4 div button, .catalogo .catalogo_6 div button {
  width: 150px;
  padding: 5px 5px;
  margin-top: 10px;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
  box-shadow: 0 0 0 0 white;
}
.catalogo .catalogo_2 div button:hover, .catalogo .catalogo_4 div button:hover, .catalogo .catalogo_6 div button:hover {
  transform: translate(-2px -4px);
  box-shadow: 2px 5px 0 0 white;
}
.catalogo .catalogo_3, .catalogo .catalogo_5 {
  grid-area: area3;
}
.catalogo .catalogo_4, .catalogo .catalogo_6 {
  grid-area: area4;
}
.catalogo .catalogo_5 {
  grid-area: area5;
}
.catalogo .catalogo_6 {
  grid-area: area6;
}
.catalogo .catalogo_7, .catalogo .catalogo_8 {
  grid-area: area7;
  width: 100%;
  height: 100%;
}
.catalogo .catalogo_7 img, .catalogo .catalogo_8 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.catalogo .catalogo_8 {
  grid-area: area8;
}

/*Contacto*/
.conteiner-menu-desplegable {
  background-color: black;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none;
  gap: none;
  width: 100%;
  height: 80px;
  margin-top: 3.125rem;
  list-style: none;
}
.conteiner-menu-desplegable div li button {
  background-color: rgb(25, 205, 241);
  border-radius: 10px;
  width: 160px;
  padding: 5px 5px;
  margin-top: 20px;
}
.conteiner-menu-desplegable div li button a {
  color: white;
  font-size: 20px;
}
.conteiner-menu-desplegable div li button a:hover {
  color: black;
}

.informacion-contacto, .informacion-contacto-2 {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none;
  gap: none;
  margin-bottom: 1.875rem;
  margin-top: 70px;
}
.informacion-contacto h3, .informacion-contacto-2 h3 {
  background-color: #f09380;
  width: 18.75rem;
  font-size: 20px;
  padding: 0.3125rem 0.3125rem;
  text-align: center;
}

.informacion-contacto-img img {
  max-width: 100%;
}

.footer {
  display: grid;
  background-color: black;
  width: 100%;
  height: 200px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 3.125rem;
}
.footer section {
  color: white;
}
.footer section h3 {
  padding: 20px 20px;
  margin-left: 40px;
  font-size: 15px;
}
.footer section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.footer section div a img {
  max-width: 70%;
  border-radius: 30px;
  padding: 10px;
}

/*Ingresar*/
.conteiner-menu-desplegable {
  background-color: black;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-around;
  align-items: none;
  gap: none;
  width: 100%;
  height: 80px;
  margin-top: 3.125rem;
  list-style: none;
}
.conteiner-menu-desplegable div li button {
  background-color: #FC2947;
  border-radius: 10px;
  width: 160px;
  padding: 5px 5px;
  margin-top: 20px;
}
.conteiner-menu-desplegable div li button a {
  color: white;
  font-size: 20px;
}
.conteiner-menu-desplegable div li button a:hover {
  color: black;
}

form {
  width: 100%;
  background-color: #FFDEB9;
  height: 400px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
form h2 {
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}
form input {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid black;
  margin-top: 20px;
}
form input::-moz-placeholder {
  color: black;
}
form input::placeholder {
  color: black;
}

/*Elemtos de componentes*/
/*Elementos del mediaquerry*/
@media (max-width: 1024px) {
  /*Index*/
  .Ultimos-ingresos h2 {
    font-size: 25px;
  }
  /*Catalogo*/
  .catalogo {
    height: 1622px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 187px) repeat(2, 250px);
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3" "area4 area4" "area5 area5" "area6 area6" "area7 area8" "area7 area8";
  }
  .catalogo .catalogo_1 img, .catalogo .catalogo_3 img, .catalogo .catalogo_5 img {
    width: 250px;
    height: 187px;
  }
  .catalogo .catalogo_1 div, .catalogo .catalogo_3 div, .catalogo .catalogo_5 div {
    margin-left: 35px;
  }
  .catalogo .catalogo_1 div h3, .catalogo .catalogo_3 div h3, .catalogo .catalogo_5 div h3 {
    font-size: 20px;
  }
  .catalogo .catalogo_1 div button, .catalogo .catalogo_3 div button, .catalogo .catalogo_5 div button {
    width: 180px;
    font-size: 15px;
  }
  .catalogo .catalogo_2 img, .catalogo .catalogo_4 img, .catalogo .catalogo_6 img {
    width: 250px;
    height: 187px;
  }
  .catalogo .catalogo_2 div, .catalogo .catalogo_4 div, .catalogo .catalogo_6 div {
    margin-left: 35px;
  }
  .catalogo .catalogo_2 div h3, .catalogo .catalogo_4 div h3, .catalogo .catalogo_6 div h3 {
    font-size: 20px;
  }
  .catalogo .catalogo_2 div button, .catalogo .catalogo_4 div button, .catalogo .catalogo_6 div button {
    width: 180px;
    font-size: 15px;
  }
  .footer .section-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .footer .section-1 h3 {
    font-size: 20px;
  }
  .footer .section-2 div img {
    max-width: 85%;
  }
}
@media (max-width: 768px) {
  .conteiner-menu-desplegable {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
    height: 360px;
  }
  /*Index*/
  .conteiner-card article {
    width: 220px;
    height: 100%;
  }
  .Suscripcion div h2 {
    font-size: 20px;
  }
  .Suscripcion div input {
    font-size: 20px;
  }
  .footer .section-2 div img {
    max-width: 100%;
  }
  /*Contacto*/
  .informacion-contacto h3, .informacion-contacto-2 h3 {
    width: 200px;
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  /*Index*/
  .Ultimos-ingresos h2 {
    font-size: 18px;
    margin-left: 8px;
  }
  .Suscripcion div h2 {
    font-size: 15px;
  }
  .footer .section-1 h3 {
    font-size: 12px;
    margin-left: 0px;
  }
  .footer .section-2 div img {
    max-width: 140%;
  }
  /*Catalogo*/
  .catalogo .catalogo_1 img, .catalogo .catalogo_3 img, .catalogo .catalogo_5 img {
    width: 180px;
    height: 187px;
  }
  .catalogo .catalogo_1 div, .catalogo .catalogo_3 div, .catalogo .catalogo_5 div {
    margin-left: 35px;
  }
  .catalogo .catalogo_1 div h3, .catalogo .catalogo_3 div h3, .catalogo .catalogo_5 div h3 {
    font-size: 15px;
  }
  .catalogo .catalogo_1 div button, .catalogo .catalogo_3 div button, .catalogo .catalogo_5 div button {
    width: 180px;
    font-size: 12px;
  }
  .catalogo .catalogo_2 img, .catalogo .catalogo_4 img, .catalogo .catalogo_6 img {
    width: 180px;
    height: 187px;
  }
  .catalogo .catalogo_2 div, .catalogo .catalogo_4 div, .catalogo .catalogo_6 div {
    margin-left: 35px;
  }
  .catalogo .catalogo_2 div h3, .catalogo .catalogo_4 div h3, .catalogo .catalogo_6 div h3 {
    font-size: 15px;
  }
  .catalogo .catalogo_2 div button, .catalogo .catalogo_4 div button, .catalogo .catalogo_6 div button {
    width: 180px;
    font-size: 12px;
  }
  /*Ingresar*/
  form h2 {
    font-size: 15px;
  }
  form input {
    font-size: 20px;
  }
  /*Atencion al cliente*/
  .conteiner-ayuda h2 {
    font-size: 15px;
  }
  .conteiner-ayuda div h3 {
    font-size: 15px;
  }
  .conteiner-ayuda div p {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .footer .section-1 h3 {
    font-size: 10px;
  }
  .footer .section-1 .section- div img {
    max-width: 150%;
  }
  /*Index*/
  .Suscripcion div h2 {
    font-size: 10px;
  }
  /*Catalogo*/
  .catalogo .catalogo_1 img, .catalogo .catalogo_3 img, .catalogo .catalogo_5 img {
    width: 150px;
    height: 187px;
  }
  .catalogo .catalogo_1 div, .catalogo .catalogo_3 div, .catalogo .catalogo_5 div {
    margin-left: 20px;
  }
  .catalogo .catalogo_1 div h3, .catalogo .catalogo_3 div h3, .catalogo .catalogo_5 div h3 {
    font-size: 10px;
  }
  .catalogo .catalogo_1 div button, .catalogo .catalogo_3 div button, .catalogo .catalogo_5 div button {
    width: 120px;
    font-size: 10px;
  }
  .catalogo .catalogo_2 img, .catalogo .catalogo_4 img, .catalogo .catalogo_6 img {
    width: 150px;
    height: 187px;
  }
  .catalogo .catalogo_2 div, .catalogo .catalogo_4 div, .catalogo .catalogo_6 div {
    margin-left: 20px;
  }
  .catalogo .catalogo_2 div h3, .catalogo .catalogo_4 div h3, .catalogo .catalogo_6 div h3 {
    font-size: 10px;
  }
  .catalogo .catalogo_2 div button, .catalogo .catalogo_4 div button, .catalogo .catalogo_6 div button {
    width: 120px;
    font-size: 10px;
  }
  /*Contacto*/
  .informacion-contacto h3, .informacion-contacto-2 h3 {
    width: 100px;
    font-size: 7px;
  }
  /*Atencion al cliente*/
  .conteiner-ayuda h2 {
    font-size: 15px;
  }
  .conteiner-ayuda div h3 {
    font-size: 15px;
  }
  .conteiner-ayuda div p {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  /*Atencion al cliente*/
  .conteiner-ayuda h2 {
    font-size: 15px;
  }
  .conteiner-ayuda div h3 {
    font-size: 15px;
  }
  .conteiner-ayuda div p {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */