/*Catalogo*/
.catalogo{
    display: grid;
    margin-top: 100px;
    max-width: 100%;
    height: 1000px;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(6 ,1fr);
    grid-template-areas: 
    "area1 area7"
    "area2 area7"
    "area3 area7"
    "area4 area8"
    "area5 area8"
    "area6 area8"
    ;
    row-gap: .3125rem;
    .catalogo_1{
    background-color: #FC2947;
    grid-area: area1;
    display: flex;
    width: 100%;
    height: 100%;
        img{
            object-fit: cover;
            max-width: 45%;
            height: 10.375rem;
        }
        div{
            @include flex(column, none,center, none,none);
            margin-left: 150px;
            button{
                width: 150px;
                padding: 5px 5px;
                margin-top: 10px;
                background-color: black;
                color: map-get($colores, blanco );
                transition: all 0.3s ease-in-out;
                border: 1px solid white;
                box-shadow: 0 0 0 0 white;
                &:hover{
                    transform: translate(-2px -4px);
                    box-shadow: 2px 5px 0 0 white;
                }
            }
        }
    }
    .catalogo_2{
    background-color: #FE6244;
    grid-area: area2;
    display: flex;
    width: 100%;
    height: 100%;
        img{
            object-fit: cover;
            max-width: 45%;
            height: 10.375rem;
        }
        div{
            @include flex(column, none,center, none,none);
            margin-left: 150px;
            button{
                width: 150px;
                padding: 5px 5px;
                margin-top: 10px;
                background-color: black;
                color: map-get($colores, blanco );
                transition: all 0.3s ease-in-out;
                border: 1px solid white;
                box-shadow: 0 0 0 0 white;
                &:hover{
                    transform: translate(-2px -4px);
                    box-shadow: 2px 5px 0 0 white;
                }
            }
        }
    } 
    .catalogo_3{
        @extend .catalogo_1;
        grid-area: area3;
    }
    .catalogo_4{
        @extend .catalogo_2;
        grid-area: area4;
        img{
            width: 166px;
        }
    }
    .catalogo_5{
        @extend .catalogo_3;
        grid-area: area5;
        img{
            width: 166px;
        }
    }
    .catalogo_6{
        @extend .catalogo_2;
        grid-area: area6;
    }
    .catalogo_7{
    grid-area: area7;
    width: 100%;
    height: 100%;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .catalogo_8{
        @extend .catalogo_7;
        grid-area: area8;
    } 
}

.footer{
    @include grid (50% 50%, 50% 50%, center, center);
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 3.125rem;
    .section-1{
        color: map-get($colores, blanco);
        @include flex(column,none,none,none,none);
        margin-top: 35px;
        h3{
            padding: 20px 20px;
            margin-left: 40px;
            font-size: map-get($font-size, xl);
        }
    }
    .section-2 {
    @include grid(1fr 1fr 1fr 1fr, auto, center, center);
        div{
            a {
                img {
                max-width: 70%;
                border-radius: 30px;
                padding: 10px;
                }
            }
        }
    }
}   